* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --app-height: 100%;
}

html,
body {
  width: 100%;
  height: var(--app-height);
  font-size: 16px;
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

@media (min-width: 560px) {
  html,
  body {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  html,
  body {
    font-size: 20px;
  }
}

/* font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */
