*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --app-height: 100%;
  --white: 0 0% 100%;
  --light-color: 231 77% 90%;
  --dark-color: 230 35% 7%;
  --font-1: "Barlow", sans-serif;
  --font-2: "Barlow Condensed", sans-serif;
  --font-3: "Bellefair", serif;
}

html,
body {
  width: 100%;
  height: var(--app-height);
  font-size: 16px;
  color: hsl(var(--white));
  background-color: hsl(var(--dark-color));
  font-family: var(--font-1);
  font-weight: 400;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (min-width: 560px) {
  html,
  body {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  html,
  body {
    font-size: 20px;
  }
}
